<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <preference for="Chechur\Blog\Api\Data\PostInterface" type="Chechur\Blog\Model\Post"/>
    <preference for="Chechur\Blog\Api\PostRepositoryInterface" type="Chechur\Blog\Model\PostRepository"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="chechur_blog_post_listing_data_source" xsi:type="string">
                    Chechur\Blog\Model\ResourceModel\Post\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Chechur\Blog\Model\ResourceModel\Post\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">chechur_blog_post</argument>
            <argument name="resourceModel" xsi:type="string">Chechur\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <virtualType name="Chechur\Blog\Model\PostImageUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">catalog/product/post/tmp/image</argument>
            <argument name="basePath" xsi:type="string">catalog/product/post/image</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Chechur\Blog\Controller\Adminhtml\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Chechur\Blog\Model\PostImageUploader</argument>
        </arguments>
    </type>
    <type name="Chechur\Blog\Controller\Adminhtml\Post\Save">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Chechur\Blog\Model\PostImageUploader</argument>
        </arguments>
    </type>
</config>
